@model WebAsp.Models.ViewSinhVien

@{
    ViewData["Title"] = "SinhVien";
}

<h1>Index</h1>

<div class="py-2">
    <button type="button" class="btn btn-success" >
        <a class="text-white" asp-action="Create">Thêm sinh viên</a>
    </button>
</div>
<table class="table">
    <thead>
        <tr>
            <th>MASV</th>
            <th>Khoa</th>
            <th>Khóa học</th>
            <th>Họ và tên</th>
            <th>Ngày sinh</th>
            <th>Giới tính</th>
            <th>Cập nhập</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sinhvien in Model.SinhViens) {
            <tr>
                <form asp-action="manage" method='post' >
                    <input type='hidden' asp-for="@sinhvien.IdSinhVien" value= "@sinhvien.IdSinhVien">
                    <th>
                        @sinhvien.IdSinhVien
                    </th>
                    <th>
                        <select class='form-select' asp-for="@sinhvien.IdNganh" id='mySelect'>
                            @foreach (var nganh in Model.nganhs) {
                                if (sinhvien.IdNganh.Equals(nganh.IdNganh))
                                {
                                    <option value='@nganh.IdNganh' selected>@nganh.Name</option>
                                }
                                else {
                                    <option value='@nganh.IdNganh'>@nganh.Name</option>
                                }
                            }    
                        </select>
                    </th>
                    <th>
                    <input class='form-control' type='text' asp-for="@sinhvien.KhoaHoc" value='@sinhvien.KhoaHoc'>
                    </th>
                    <th>
                    <input class='form-control' type='text' asp-for="@sinhvien.HoTen" value='@sinhvien.HoTen'>
                    </th>
                    <th>
                        <span class'error'></span>
                    <input class='form-control' type='date' asp-for="@sinhvien.NgaySinh" value='@sinhvien.NgaySinh?.ToString("yyyy-MM-dd")'>
                    </th>                           
                    <th>
                        <div class='input-group'> 
                            <div class='form-check'>
                            <input class='form-check-input' type='radio' asp-for="@sinhvien.GioiTinh" id='gt1' value='nam' checked=@(sinhvien.GioiTinh.Equals("nam")? "checked" : "") />
                            <label class='form-check-label me-2' asp-for="@sinhvien.GioiTinh">
                            Nam                        
                            </label>                    
                            </div>                
                            <div class='form-check'>
                            <input class='form-check-input' type='radio' asp-for="@sinhvien.GioiTinh" id='gt2' value='Nữ' checked=@(sinhvien.GioiTinh.Equals("Nữ") ? "checked" : "") />
                            <label class='form-check-label' asp-for="@sinhvien.GioiTinh">
                            Nữ               
                            </label>         
                            </div> 
                        </div> 
                    </th>
                    <th> 
                        <input class='btn btn-success mg-3' type='submit' name='action' value='Sửa'>
                        <input class='btn btn-success' type='submit' name='action' value='Xóa'>                        
                    </th>                   
                </form>
            </tr>
        }
    </tbody>
</table>
